body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}


.container-main{
    position:relative;
    background-color:white;
    margin:auto;
    width:760px;
    background-color:;
}

.container-picture{
    position:relative;
    z-index:1;
    margin:auto;
    width: 760px;
    height: 507px;
    background-color: red;

}

.obiective{
    margin-top:-79px;
    margin-right: 6px;
    position:relative;
    z-index:2;
    position:relative;
    float:left;
}

.obiectiv_unu{
    margin-left:25px;
    width:106px;
    height:117px;
}
.obiectiv_doi{
    bottom:49px;
    margin-bottom:55px;
    width:116px;
    height:164px;
}

.obiectiv_trei{
    bottom:82px;
    width:114px;
    height:199px;
}
.obiectiv_patru{
    top:40px;
    width:112px;
    height:80px;
}

.logo{
    position:absolute;    
    top: 537px;
    left: 528px;
    height:128px;
    width:188px;
    display:inline-block;
}


.text-intro{
    z-index: 2;
    font-size:23px;
    line-height: 25px;
    text-align:center;
    color:white;
    margin:auto;
    width:280px;
    margin-top:-348px;
}

.text-intro-second{
    z-index: 2;
    text-align: center;
    color: white;
    margin: auto;
    width: 240px;
    height:163px;
    margin-top: 10px;
}


.container-opacity{
    width: 570px;
    height: 380px;
    margin: auto;
    margin-top: 128px;

}

.mainpic{
    margin:auto;
    overflow:hidden;
    background-image: url('../img/img-full.png');
    background-position:center bottom;
    height:507px;
    width:760px;
}

.op-greylayer{
    z-index:2;
    margin-top: -508px;
    width:570px;
    height:380px;
}

.op-arrowleft{
    z-index:3;
    margin-top: -280px;
    margin-left: 65px;
    width:107px;
    height:199px;
}

.op-text{    
    text-align:center;
    margin:auto;
    text-transform: uppercase;
    font-size: 28px;
    color:white;
    width:200px;
    height: 100px;
    margin-top:-140px;
}

.op-arrowright{
    clear:left;
    z-index: 3;
    width:107px;
    height:199px;
    margin-left: 400px;
    margin-top:-160px;
}

.obiectivkit1{

    margin-top:-53px;
    margin-left: 40px;
}

.obiectivtext1{
    font-size: 23px;
    display: block; 
    
}
.obiectivtext2{
    width:120px;
    clear:both;
    display:inline;
}

.container-text{
    position:absolute;
    top:515px;
    left:210px;
    clear:both;
    width:290px;

    }